<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-camera-permissions" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSPhotoLibraryAddUsageDescription, NSPhotoLibraryUsageDescription and NSMicrophoneUsageDescription in iOS 11 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsphotolibraryaddusagedescription, nsphotolibraryusagedescription, nsmicrophoneusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
        </engines>
        <platform name="ios">
            <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
            <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
                <string>De app heeft toegang nodig tot uw camera om de barcode te kunnen scannen zodat u snel de juiste order te zien krijgt.</string>
            </config-file>

            <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This app needs microphone access"/>
            <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
                <string>De app gebruikt de microfoon niet. ;-)</string>
            </config-file>

            <preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default="This app needs write-access to photo library"/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
                <string>De app voegt geen phot's toe aan uw foto library.</string>
            </config-file>

            <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="This app needs read/write-access photo library access"/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
                <string>De app heeft toegang nodig tot uw foto's zodat u een foto kan selecteren van bijv. een AVC/CMR werkbon en die mee kan sturen bij het afmelden van een order.</string>
            </config-file>
        </platform>
    </plugin>
